{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "plugins": [
    "eslint-plugin-no-inline-styles",
    "react"
  ],
  "rules": {
    "no-inline-styles/no-inline-styles": 1,
    "no-unused-vars": "warn",
    "prefer-const": "warn",
    "no-console": "warn",
    "quotes": ["warn", "single"],
    "jsx-quotes": ["error", "prefer-double"],
    "indent": ["warn", 2],
    "max-len": ["warn", {"code":  120}],
    "comma-dangle": ["warn", "always-multiline"],
    "semi": ["warn", "always"],
    "import/order": ["error", {
      "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"]
    }],
    "react/function-component-definition": ["warn", {}]
  }
}
