.headerContainer {
  display: flex;
  gap: 25px;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid wheat;

  img {
    width: 35px;
    height: 35px;
  }

  .headerTitle {
    cursor: pointer;
  }
}
