@import "src/common/style/variables";

.appContainer {
  display: flex;
  flex-direction: column;
  background-color: #434343;
  color: $colorText;
  height: 100vh;

  .taskAndLinesContainer {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    //flex-direction: column;
  }
}
